body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#logo{
  margin-left: 2%;
  margin-right: 7%;
}

#card {
  background-color: #add8e6;
  border: 2px solid #add8e6;
  color: black;
  /* padding: 16px 32px; */
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.8;
  transition: 0.3s;
}

#card:hover {
  opacity: 1;
  background-color: #fcbba7;
  border: 2px solid #f4501ead;
  color: black;
}

#cardhr {
  border: 2px solid #00bfff; 
  max-width: 85%;
  margin-left: 8%;
  border-radius: 5px;
  align-content: center;
}